{% extends "base.html.twig" %}
{% block body %}
    <h1>Bonjour </h1>
    <a href="{{url("app_consulterStatistiques_responsable")}}">Consulter les statistiques</a>
    <a href="{{url("login")}}">Déconnexion</a>
{% endblock %}