<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{asset("style.css")}}">
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
            <hr/>
            &copy; Smith & Jones Inc.
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>



